/* pseudo elements ::before ::after CONTENT not element content:'' --- required
img --- does not work */

p::before {
  content: "Hello ";
  display: block;
  background: black;
  font-weight: bold;
  color: red;
  font-size: 2rem;
}

p::after {
  content: " World";
  font-weight: bold;
  color: red;
  font-size: 2rem;
  display: block;
  background: black;
}
