/* 
  transition : change over time
  transition-property : which property to transition
  transition-duration : how long to transition
*/

div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

div:hover {
  background: coral;
}

.one {
  background-color: red;
}

.two {
  background-color: green;
}

.three {
  background-color: blue;
  transition-property: background, border-radius;
  transition-duration: 2s, 0.5s;
}

.three:hover {
  border-radius: 50%;
}
